<a href="https://colab.research.google.com/github/YOUSUBEEN/yousube_en/blob/main/Colab/20230412_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터타입

int
str
float
bool

## int형
- 나이 입력하고 출력

In [3]:
num_int = 30
print(num_int)
print(type(num_int))

30
<class 'int'>

## fliat형

- 키입력

In [6]:
my_height = 184.1
print(my_height)
print(type(my_height))

184.1
<class 'float'>

##str형
- 임의의 닉네임 입력하고 출력

In [5]:
my_name = "SU"
print(my_name)
print(type(my_name))

SU
<class 'str'>

## bool
- 논리 / 참,거짓

In [10]:
x = True
y = False
z = x == y

print(z)
print(type(z))

False
<class 'bool'>

# 사칙연산

- / : 나누기는 type => float

In [13]:
x = 6
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)  # 나머지 
print(x // y) # 몫
print(x ** y) #제곱

9
3
18
2.0
0
2
216

In [15]:
x = 10
y = 11

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x <= y)
print(x >= y)

False
True
False
True
True
False

## type변경

In [20]:
a = int(input("숫자를 입력하시오 : "))
print(a)
print(type(a))

숫자를 입력하시오 : 123
123
<class 'int'>

# String

- 연결해주기

In [23]:
a = "소년은"
b = "봄을"
c = "좋아합니다."

letter = a + " " + b + " " + c + " 와웅"
print(letter)

소년은 봄을 좋아합니다. 와웅

- String 연산자 (*)

In [26]:
x="봄"
ly= x*3 + "모쓰"
print(ly)

봄봄봄모쓰

# 인덱싱 & 슬라이싱

In [35]:
# 인덱싱

x = "Hello World!!"

#첫 번째 문제 : Hello의 알파벳 o 추출
print(x[4])

# 두번째 문제 :  World의 알파벳 l 추출
print(x[-4])

#####슬라이싱######

# 세번째 문제 : World 글자만 출력
print(x[6:11])

o
l
World

In [40]:
x = "Hello World!!"
print(x[0:11:4])
print(x[:])

Hor
Hello World!!

- immutable 객체
- mutable 객체

In [50]:
x = "Hello World!!"
# 바꾸고 싶은 것, Aello World!!
x[0] = 'A'

# x = 'A' + x[1:]
# print(x)

# print(x.replace('H','A'))

TypeError: ignored

In [51]:
x = 'A' + x[1:]
print(x)

print(x.replace('H','A'))

Aello World!!
Aello World!!

##  문자열 메서드
- 점프 투 파이썬: https://wikidocs.net/13

In [52]:
sampleText = "helld, kaggle"
upper_text = sampleText.upper()
print(upper_text)

HELLD, KAGGLE

In [53]:
## 숫자(int) ->> 클래스 안에는 upper라는 메서드가 없어서 에러가 뜸

sampleNum = 123
upper_text = sampleNum.upper()
print(upper_text)

AttributeError: ignored

## 함수 확인 : https://docs.python.org/3/library/stdtypes.html#str

In [56]:
sampleText = "hello, kaggle"
upper_text = sampleText.replace("hello", "Hi")
print(upper_text)

Hi, kaggle

 - **str.replace(old, new[, count])**
 
Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced.

In [58]:
sampleText = "hello, kaggle"
new_text = sampleText.split(sep = ",")
print(new_text)

['hello', ' kaggle']

- bytes.split(sep=None, maxsplit=- 1)
- bytearray.split(sep=None, maxsplit=- 1)

Split the binary sequence into subsequences of the same type, using sep as the delimiter string. If maxsplit is given and non-negative, at most maxsplit splits are done (thus, the list will have at most maxsplit+1 elements). If maxsplit is not specified or is -1, then there is no limit on the number of splits (all possible splits are made).

If sep is given, consecutive delimiters are not grouped together and are deemed to delimit empty subsequences (for example, b'1,,2'.split(b',') returns [b'1', b'', b'2']). The sep argument may consist of a multibyte sequence (for example, b'1<>2<>3'.split(b'<>') returns [b'1', b'2', b'3']). Splitting an empty sequence with a specified separator returns [b''] or [bytearray(b'')] depending on the type of object being split. The sep argument may be any bytes-like object.

## 문자열 포매팅

In [59]:
a = "I eat %d apples." % 3
print(a)

I eat 3 apples.

In [61]:
## 변수로 대입 가능

num = 3
a = "I eat %d apples." % num
print(a)

I eat 3 apples.

In [62]:
b = "I eat %s apples." % "five"
print(b)

I eat five apples.

In [66]:
num = 3
day = "'three'"
c = "I eat %d apples. so I was sick for %s days." % (num, day)
print(c)

I eat 3 apples. so I was sick for 'three' days.

# List 리스트
- 시퀀스데이터에요!
- 반복문 쓸 수 있음

In [5]:
from collections.abc import Sequence

my_num = 100
my_list = [1,2,3]
my_string = "hello"

isSeq1 = isinstance(my_num, Sequence)
print(isSeq1)

isSeq2 = isinstance(my_list, Sequence)
print(isSeq2)

isSeq3 = isinstance(my_string, Sequence)
print(isSeq3)

False
True
True

# 인덱싱 & 슬라이싱 

- 문자열 했던 것과 방식 동일

In [6]:
a = ["가", "나", "다"]
print(a[0])
print(a[1])
print(a[2])
print(a[-1])

가
나
다
다

In [15]:
a = [1, 2, ["Apple", "사과", "Banana","키위"], 4, 5, 6]
print(a)

#### 문제 : Banana글자에서 알파벳 a (글자의 마지막) 추출
print(a[2][2][-1])

#### 문제 : 사과, Banana, 키위를 슬라이싱 하셔서 추출
print(a[2][1:])

print(a[2][1:][1][-1])

[1, 2, ['Apple', '사과', 'Banana', '키위'], 4, 5, 6]
a
['사과', 'Banana', '키위']
a

# 리스트 메서드 종류
- https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

## append()

In [16]:
x = ['가', '나']
x.append('다')
print(x)

['가', '나', '다']

In [17]:
x = ['가', '나']
texts = ['다','라','마']
x.append(texts)
print(x)

['가', '나', ['다', '라', '마']]

## extend()

In [21]:
y = ['가', '나']
texts = ['다','라','마']
y.extend(texts)
print(y)

['가', '나', '다', '라', '마']

## insert()
- 인덱스 번호를 지정한 후, 새로운 값 추가

In [24]:
x = ["가","나","다"]
x.insert(2, "라")
print(x)

['가', '나', '라', '다']

## 리스트 값 변경

In [26]:
x = ["가","나","C","라"]
x[2] = "다"
print(x)

['가', '나', '다', '라']

## 리스트 값 삭제

In [30]:
dates = [412, 510, 531, 1010]

# 412제거
dates.remove(412)
print(dates)

#del사용
del dates[0]
print(dates)

[510, 531, 1010]
[531, 1010]

# 튜플
- 리스트랑 비슷하지만 차이점 있음

In [33]:
my_tuple = ("HI", 1, 2, 3)
print(my_tuple)
print(type(my_tuple))

('HI', 1, 2, 3)
<class 'tuple'>

In [34]:
my_nested_tuple = ("HI",[1,2,3], (3.11, 3.23, 21.1))
print(my_nested_tuple)
print(type(my_nested_tuple))

('HI', [1, 2, 3], (3.11, 3.23, 21.1))
<class 'tuple'>

## 리스트와 튜플의 공통점
- 인덱싱& 슬라이싱은 동일

In [36]:
a = [1, 2, ("Apple", "사과", "Banana","키위"), 4, 5, 6]
print(a)
print(type(a))

[1, 2, ('Apple', '사과', 'Banana', '키위'), 4, 5, 6]
<class 'list'>

In [39]:
print(a[0:3][2][2][-1])

a

# 리스트 값 *수정*

In [41]:
x = ["가","나","C","라"]
x[2] = "다"
print(x)

y = ("가","나","C","라")
y[2] = "다"
print(y)

['가', '나', '다', '라']

TypeError: ignored

In [44]:
#tuple' object has no attribute 'remove :튜플에서는 remove 메서드존재X

dates = (412, 510, 531, 1010)  

# 412제거
dates.remove(412)

AttributeError: ignored

In [45]:
dates = (412, 510, 531, 1010) 

#del사용
del dates[0]
print(dates)

TypeError: ignored

In [47]:
my_tuple = ("가", "가", "나", "나", "나", "다","라")
print(my_tuple.count("나")) 
print(my_tuple.index("나"))

3
2

# 딕셔너리

In [55]:
my_dic ={
    'name' : 'ysb',
    'age'  : 20,
    'job' : '데이터 분석가',
    'shopping' : [1, 2, 3,],

}

my_dic

#문제 : 태어난 도시를 추가, key-value값 알아서 작성
my_dic['city']= '수원'
print(my_dic)

#값 수정
my_dic['shopping'] = '가방'
my_dic

{'name': 'ysb', 'age': 20, 'job': '데이터 분석가', 'shopping': [1, 2, 3], 'city': '수원'}

{'name': 'ysb', 'age': 20, 'job': '데이터 분석가', 'shopping': '가방', 'city': '수원'}

In [66]:
## 가방제거

del my_dic['shopping']
print(my_dic)

KeyError: ignored

In [61]:
my_dic.keys()

dict_keys(['name', 'age', 'job', 'city'])

In [63]:
my_dic.values()

dict_values(['ysb', 20, '데이터 분석가', '수원'])

In [64]:
my_dic.items()  #리스트,튜플

dict_items([('name', 'ysb'), ('age', 20), ('job', '데이터 분석가'), ('city', '수원')])

In [70]:
for i in my_dic:
  #print(i)  #인덱스 번호로 할당되거나 그런게 아님/ key값!!
   print(my_dic[i])

ysb
20
데이터 분석가
수원

# 조건문
- if-else, if문 작성 시, 조건 ==> True

In [71]:
a = 30
b = 31

if a >= b:
  print("a가 크다")
elif a == b:
  print("a와 b가 같다")
else:
  print("b가 b보다 작다")

b가 b보다 작다

In [75]:
# input() 임의의 숫자만 입력 1~100
# 90점이상 --print(A)
# 80점이상 --print(B)
# 나머지 --print(C)

num = int(input("숫자(1~100)만 입력하시오 : "))

if 1 <= num <= 100:
  if num >= 90:
    print("A")
  elif num >=80:
    print("B")
  else:
    print("C") 
else:
  print("값을 입력할 수 없습니다.")

숫자(1~100)만 입력하시오 : 101
값을 입력할 수 없습니다.

In [76]:
num = int(input("숫자(1~100)만 입력하시오 : "))

if num >= 1 and num <=100 :
  if num >= 90:
    print("A")
  elif num >=80:
    print("B")
  else:
    print("C") 
else:
  print("값을 입력할 수 없습니다.")

숫자(1~100)만 입력하시오 : 101
값을 입력할 수 없습니다.